
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<h1>'Миссия Колонизация Марса'</h1>
<h4>'И на Марсе будут яблони цвести!'</h4>
{% set profi_list = ['инженер-исследователь',
     'пилот',
     'строитель',
     'экзобиолог',
     'врач',
     'инженер по терраформированию',
     'климатолог',
     'специалист по радиационной защите',
     'астрогеолог',
     'гляциолог',
     'инженер жизнеобеспечения',
     'метеоролог',
     'оператор марсохода',
     'киберинженер',
     'штурман',
     'пилот дронов'] %}
 {% if 'ol' in title %}
<ol>
{% for user in profi_list %}
    <li>{{ user }}
    </li>
    {% endfor %}
</ol>
{% elif 'ul' in title %}
<ul>
{% for user in profi_list %}
    <li>{{ user }}
    </li>
    {% endfor %}
</ul>>
 {% else %}
<h2>'Неверный формат символа(введите ol или ul)'</h2>
 {% endif %}
</body>
</html>